/* for the index.html */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
}

.header {
    background-color: rgba(134, 49, 212, 0.281);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 45px;
    margin: 10px 0;
}

.contents {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    box-sizing: border-box;
    margin: 0 10%;
}

img {
    object-fit: cover;
    width: 300px;
    height: 200px;
    transition: all 0.3s;
    border-radius: 0 0 20px 20px;
    margin-bottom: -5px;
}

a {
    color: black;
    text-decoration: none;
    transition: all 0.3s;
    padding-bottom: 0px;
}

.shrimp:hover,.easter:hover,.hamburger:hover {
    a {font-size: 30px;};
    img {width: 450px; height: 300px;};
}

.contents > * {
    border-style: dashed;
    border-radius: 20px;
}

li {
    list-style-type: none;
    text-align: center;
    font-size: 20px;
}